<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">About me</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#mywork">See my work</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#getintouch">Get in touch</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header id="about" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div>
                      <div class="intro-message">
                        <h1 class="brand-heading">Callum Anderson<small>beta</small></h1>
                        <p class="intro-text">I do digital things for smart people</p>
                        <a href="#mywork" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- My work section -->
    <section id="mywork" class="content-section text-center">
        <div class="mywork-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>My work</h2>
                    <p>See below for some of the projects and startups I am currently working with or have worked with in the past.</p>
                    <p><a href="https://mendeley.com">Mendeley</a> - Previously Head of WebOps, QA & Tech support for this award winning startup (since acquired by Elsevier)</p>
                    <p><a href="http://oxford-skin.com">Oxford Independent Health</a> - Consultant to this private healthcare startup</p>
                    <p><a href="https://style.com">Style.com</a> - Due to start a new permanent engagement in July 2016</p>
                    <a href="#getintouch" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Get in touch section -->
    <section id="getintouch" class="content-section text-center">
        <div class="getintouch-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Get in touch</h2>
                    <p>You can contact me via email with any queries</p>
                    <a href="mailto:me@callum-anderson.com" class="btn btn-default btn-lg">Get in touch</a>
                    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
                    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
                </div>
            </div>
        </div>
    </section>
  </body>
